/*Teach Easy Style Sheet*/

/*font downloaded from https://www.dafont.com/eraser.font?text=Teach+Easy*/
@font-face{
	font-family: chalk;
	src: url("fonts/Eraser.ttf");
	font-color: "white";
}

h1{
	color: white;
  	font: 100px chalk;
  	height: 200px;
  	position: absolute;
}

hr {
	background-color: black;
	width: 100%;
	height: 2px;
	border: 0; }

.buttonContainer{
	margin-left: 15%;
}

.mainContent{
	width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.loginBackground{
	background-image: url(resources/chalkBoard.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*helped with the rotating of the teach easy logo https://css-tricks.com/set-text-on-a-circle/ */
.login{
	position: relative;
	width: 400px;
	height: 20px;
	border-radius: 50%;
	transform: rotate(-25deg);
	margin-top: 3%;
	margin-left: 0;
}

.loginForm{
	margin-top: 30%;
	margin-left: 40%;
	text-align: center;
	max-width: 10%;
}
/*SOURCE of trsition: https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/*/
#navButton{
	background-color: rgba(0,0,0,0);
	font-size: 22px;
    cursor: pointer;
    border: none;
    border-width: 1px;
    width: auto;
    height :30px;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

#navButton:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transform: scale(1.1);
}

#inputs{
	min-height: 4%;
	width: 200px; 
	margin-bottom: 5%;
}

#submitButton{
	height: 5%;
	width: 200px;
}

#logoText{
	display: inline-block;
	font-size: 45px;
	font-weight: bold;
	font: 50px chalk;
	text-align: left; 
}

#userInfo{
	display: inline-block;
	position: absolute;
	text-align: right;
	font-size: 20px;
	margin-left: 70%;
}

#logoutButton{
	position: absolute;
	font-size: 20px;
	margin-left: 75%;
	margin-top: 40px;
	background-color: rgba(0,0,0,0);
	color: red;
	border: none;
}

#loginLabel{
	position: relative;
	color: white;
  	font: 60px chalk;
  	height: 60px;
}


