/*Teach Easy Style Sheet*/

/*font downloaded from https://www.dafont.com/eraser.font?text=Teach+Easy*/
@font-face{
	font-family: chalk;
	src: url("fonts/Eraser.ttf");
	font-color: "white";
}

body{
	background-color: rgba(0, 204, 255,.5);
}

h1{
	color: white;
  	font: 100px chalk;
  	height: 200px;
  	position: absolute;
}

.loginBackground{
	background-image: url(resources/chalkBoard.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*helped with the rotating of the teach easy logo https://css-tricks.com/set-text-on-a-circle/ */
.login{
	position: relative;
	width: 400px;
	border-radius: 50%;
	transform: rotate(-25deg);
	margin-top: 3%;
	margin-left: 0;
}

.loginForm{
	margin-top: 30%;
	margin-left: 40%;
	text-align: center;
	max-width: 10%;
}

.navbar{
	background-image: url("resources/pencil.png");
	background-repeat: no-repeat;
	min-height: 140px;
	margin: 1%;
}

.navbar #navButtonContainer{
	display: flex;
	justify-content: space-around;
	margin-left: 10%;
	margin-right: auto;
	margin-top: 2%;
	align-items: center;
}

.navbar #navButtons{
	font-size: 30px;
	background: none;
	border: none;
}

#inputs{
	min-height: 4%;
	width: 200px; 
	margin-bottom: 5%;
}

#submitButton{
	height: 5%;
	width: 200px;
}

#loginLabel{
	position: absolute;
	margin-top: 14%;
	margin-left: 44%; 
	color: white;
  	font: 60px chalk;
  	height: 200px;
}
